---
layout: default.njk
title: About
articleTitle: "Hi There!"
permalink: /about/index.html
---

<p>
  I'm Mustafa. I'm a .NET developer.
</p>

<p>
  Originally from Istanbul, I now live in London, UK.
</p>

<p>
  I started this website to host <a href="/projects/navsim/">NavSim 6000</a>.
</p>

<p>
  I also take <a href="https://www.flickr.com/photos/drumex">photos</a> from time to time.
</p>

<section class="article__section section">
  <h3 class="section__title">Get In Touch</h3>

  <p>You can contact me on <a href="https://twitter.com/colormemoss">Twitter</a> or <a href="https://uk.linkedin.com/pub/mustafa-selcuk-oral/5a/352/572">LinkedIn</a>.</p>
</section>
