{% if config.environment == "prod" %}
  <script async src="https://www.googletagmanager.com/gtag/js?id=UA-31467863-1"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'UA-31467863-1');
  </script>
{% endif %}