{% if config.environment == "development" %}
    <link rel="stylesheet" href="/assets/css/normalise.css"/>
    <link rel="stylesheet" href="/assets/css/base.css"/>

    <link rel="stylesheet" href="/assets/css/article/article.css"/>
    <link rel="stylesheet" href="/assets/css/article/article__section.css"/>
    <link rel="stylesheet" href="/assets/css/article/article__title.css"/>

    <link rel="stylesheet" href="/assets/css/footer/footer.css"/>
    <link rel="stylesheet" href="/assets/css/footer/footer__buildInfo.css"/>
    <link rel="stylesheet" href="/assets/css/footer/footer__buildCommit.css"/>
    <link rel="stylesheet" href="/assets/css/footer/footer__buildDateTime.css"/>
    <link rel="stylesheet" href="/assets/css/footer/footer__text.css"/>

    <link rel="stylesheet" href="/assets/css/main/main.css"/>

    <link rel="stylesheet" href="/assets/css/header/header.css"/>
    <link rel="stylesheet" href="/assets/css/header/header__nav.css"/>
    <link rel="stylesheet" href="/assets/css/header/header__navItem.css"/>
    <link rel="stylesheet" href="/assets/css/header/header__title.css"/>

    <link rel="stylesheet" href="/assets/css/page/page.css"/>
    <link rel="stylesheet" href="/assets/css/page/page__header.css"/>
    <link rel="stylesheet" href="/assets/css/page/page__footer.css"/>

    <link rel="stylesheet" href="/assets/css/post/post.css"/>

    <link rel="stylesheet" href="/assets/css/postList/postList.css"/>
    <link rel="stylesheet" href="/assets/css/postList/postList__date.css"/>
    <link rel="stylesheet" href="/assets/css/postList/postList__item.css"/>
    <link rel="stylesheet" href="/assets/css/postList/postList__title.css"/>

    <link rel="stylesheet" href="/assets/css/section/section.css"/>
    <link rel="stylesheet" href="/assets/css/section/section__image.css"/>
    <link rel="stylesheet" href="/assets/css/section/section__quote.css"/>
    <link rel="stylesheet" href="/assets/css/section/section__table.css"/>
    <link rel="stylesheet" href="/assets/css/section/section__title.css"/>

    <link rel="stylesheet" href="/assets/css/prism/prism-xonokai.css"/>
{% else %}
    <link rel="stylesheet" href="/assets/css/site.min.css"/>
{% endif %}
