<!DOCTYPE html>
<html lang="en-gb">

<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta name="author" content="Mustafa Oral">

  <title>ColorMeMoss - {{ title }}</title>

  <link href="https://fonts.googleapis.com/css?family=PT+Sans|PT+Serif&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Inconsolata&display=swap" rel="stylesheet">

  {% include "css.njk" %}
</head>

<body class="page {{ additionalPageClass }}">
  {% include "header.njk" %}

  <main class="main">
    {% block main %}{% endblock %}
  </main>

  {% include "footer.njk" %}

  {% include "analytics.njk" %}
</body>

</html>
