---
layout: default.njk
title: Posts
pagination:
  data: collections.posts
  size: 10
permalink: /posts/index.html
---

<ul class="postList">
{%- for post in collections.posts -%}
  <li class="postList__item">
    <p class="postList__date">{{ post.data.date | toIsoDate }}</p>
    <h3 class="postList__title"><a href="{{ post.url }}">{{ post.data.title | safe }}</a></h3>
  </li>
{%- endfor -%}
</ul>
