---
layout: default.njk
title: Home
articleTitle: "Hi!"
permalink: /index.html
---

<p>
  Welcome to my humble abode on the intertubes.
</p>

<p>
  You probably want to go to <a href="projects/navsim">Navsim 6000</a>, since there's not much else to see for the time being.
</p>
