.header {
    display: grid;
    grid-template-columns: 1fr;
    padding: 0;
}

@media (min-width: 600px) {
    .header {
        grid-template-columns: 1fr auto;
        padding: 0.5rem 1rem;
    }
}

@media (min-width: 800px) {
    .header {
        padding: 0.5rem 0;
    }
}
